@import '../../styles/main.scss';

div {
  > img {
    display: flex;
    margin: auto;
  }
}

.Box {
  background-color: rgba(0, 0, 0, 0.2);
  width: 700px;
  max-width: 90vw;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  cursor: pointer;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > p {
    color: $colorOrange;
    margin: 40px 30px 30px;
  }
}

.Dropzone-file {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.9);
  width: 100%;
  max-width: 500px;

  > svg {
    font-size: 2.5rem;
    fill: $colorTeal;
    margin-right: 5px;
  }

  .File-metadata {
    text-align: left;

    > h1 {
      text-align: left;
      line-height: 1.3;
      font-size: 1.2rem;
      font-weight: 500;
      color: #fff;
      margin: 0;
    }

    > p {
      font-size: 0.8rem;
      line-height: 1.1;
    }
  }
}

.Dropzone-loading, .Dropzone-check {
  margin-left: auto;
  font-size: 1.8rem !important;
  fill: $colorGreen !important;
}

.Dropzone-loading {
  animation: spinner .6s linear infinite;
  fill: $colorTeal !important;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

h1 {
  text-align: center;
}

div.Box {
  margin: auto;
  margin-top: 10px;
}

div#root {
  margin: auto;
}