.IndexWrapper {
    header {
        display: flex;
        justify-content: flex-end;
        > a {
            margin-right: 10px;
            padding: 32px;
            color: #5bbfbf;
            font-weight: 600;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                
            }
        }
    }

    .IndexContent {
        margin: auto;
        width: 900px;
        max-width: 90vw;
        line-height: 1.4;

        >h1 {
            margin-left: 0;
        }

        > img {
            display: flex;
            margin: auto;
        }
    }
}
