div#root {
  width: 100%;
}

.TableRoot {
  background-color: #002447;
  margin-top: 80px;
  min-height: 1000px;

  .TableHeader {
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #071d36;
  }

  .infinite-scroll-component {
    overflow-y: hidden !important;

    table {
      border-spacing: 0;
      width: 100%;

      thead {
        background-color: #071d36;
      }

      tr {
        :last-child {
          td {
            border-bottom: 0;
          }
        }
      }

      th {
        color: #ee6b60;
        text-align: start;
        padding: 0.8rem 2rem;
        border-bottom: 3px solid rgba($color: #000000, $alpha: 0.2);
        width: 33.3%;
      }
      td {
        padding: 0.8rem 2rem;
        border-bottom: 1.5px solid rgba($color: #000000, $alpha: 0.2);
        width: 33.3%;
        @media (max-width: 700px), (max-device-width: 700px) {
          padding: 1rem;
          font-size: 0.9rem;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .Table-nodata {
    text-align: center;
    padding: 1rem;
  }
}
